.riquadro_tiro_dadi
{
  position: absolute;
  height: 700px;
  width: 400px;
  left: 1400px;
  top: 450px;
  background-color: #CFFDE1;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.spazio_tiro_dadi
{
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  height: 500px;
  width: 400px;
}
.Titolo
{
  position: relative;
  font-size: 30px;
  text-align: center;
}
.pulsante_lancia
{
  position:relative;
  height: 50px;
  width: 100px;
  top:550px;
  left:150px;
}
.Dado1
{
  position: absolute;
  left:75px;
  top:400px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  cursor:pointer;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.Dado2
{
  position: absolute;
  left:235px;
  top:400px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  cursor:pointer;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.Dado1 div
{
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: 100px;
  height: 100px;
  /*border: solid;
  border-color: green;*/
}
.Dado2 div
{
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: 100px;
  height: 100px;
  /*border: solid;
  border-color: green;*/
}
.cerchio1
{
  position: absolute;
  top:40px;
  left:40px;
  width: 20px;
  height: 20px;
}
.cerchio
{
  position: absolute;
  top:10px;
  left:10px;
  width: 80px;
  height: 80px;
}
.fronte
{
    background: #9C060C;
    transform: translateZ(50px);
}
.dietro
{
    background: #9C060C;
    transform: translateZ(-50px) rotateY(180deg);
}
.destra
{
    background: #9C060C;
    transform-origin: top right;
    transform: rotateY(-270deg) translateX(50px);
}
.sinistra
{
    background: #9C060C;
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-50px);
}
.sopra
{
    background: #9C060C;
    transform-origin: top center;
    transform: rotateX(-270deg) translateY(-50px);
}
.sotto
{
    background: #9C060C;
    transform-origin: bottom center;
    transform: rotateX(270deg) translateY(50px);
}

@keyframes animate
{
  25%{transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);top:0%;}
  50%{transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);top:30%;}
  75%{transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);top:45%;}
  100%{transform: rotateX(376deg) rotateY(356deg) rotateZ(346deg);top:60%;}
}
