.riquadro_opzione_ruota {position: absolute;top: 1400px;left: 415px;height: 80px;width: 400px;background-color: #CFFDE1}
.pulsante_gira_90 {position: relative;top:10px;left: 20px;height: 50px;width: 70px;}
.pulsante_gira_180 {position: relative;top:10px;left:40px;height: 50px;width: 70px;}
.pulsante_gira_270 {position: relative;top:10px;left:60px;height: 50px;width: 70px;}
.pulsante_gira_360 {position: relative;top:10px;left:80px;height: 50px;width: 70px;}
