.riquadro_Leaderboard
{
  position: absolute;
  height: 400px;
  width: 400px;
  left: 1400px;
  top: 10px;
  background-color: #CFFDE1;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.Giocatore
{
  text-align: center;
  font-size: 20px;
}
