.Pulsante_regole
{
    position: absolute;
    height: 100px;
    width: 300px;
    left: 1400px;
    top: 1200px;
    background-color: #CFFDE1;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.Pulsante_indietro
{
    position: absolute;
    bottom:10px;
    height: 75px;
    width: 200px;
    background-color: #CFFDE1;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.Regole
{
  font-size: 30px;
  text-decoration: none;
  color: blue;
  text-align: center;
}
.Indietro
{
  font-size: 30px;
  text-decoration: none;
  color: blue;
  text-align: center;
}
h1
{
  text-align: center;
}
