.riquadro_soldi_proprietà
{
  position: absolute;
  height: 500px;
  width: 1313px;
  left: 10px;
  top: 1500px;
  background-color: #CFFDE1;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
